useDynLib(lasvdgp)

export(lasvdgpWorker,lasvdgpParallel,lasvdgpCall,lasvdgpCallParal,lasvdgpms,lasvdgpmsParal)

importFrom(parallel,makeCluster)
importFrom(parallel,parApply)
importFrom(parallel,stopCluster)
