useDynLib(lasvdgp)

export(lasvdgpWorker,lasvdgpParallel,
       lasvdgpms,lasvdgpmsParal,blockPar,lasvdgpOmp,lasvdgpmsOmp)

importFrom(parallel,makeCluster)
importFrom(parallel,parApply)
importFrom(parallel,stopCluster)
